<section>
  <article [@flyInOut]="t.animate" class="d-flex flex-row" *ngFor="let t of tweets">
    <figure>
      <img [src]="t.user.photo" [alt]="t.user.photo">
    </figure>
    <div class="container-post d-flex flex-column">
      <div class="content-text">
        <span class="user">{{t.user.name}}</span>
        <span class="username">@{{t.user.username}}</span>
        <span class="date">{{isShowSeconds(t) ? getTextSeconds(t) : (t.createdAt | date:'MMM d, y h:mm')}}</span>
      </div>
      <p>{{t.text}}</p>
      <div *ngIf="t.image" class="container-image">
        <img [src]="t.image" alt="image post">
      </div>
    </div>
    <button (click)="remove(t)" color="primary" class="btn" title="Remove post">
      <img src="assets/remove.svg" alt="remove">
    </button>
  </article>
  <div *ngIf="tweets.length === 0" class="no-data">
    <span>No data</span>
  </div>
</section>
