/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #000;
  --second-color: #536471;
  --border-color: #dee2e6;
}

.container.container-home {
  padding: 0;
}
